/*@import url(https://fonts.googleapis.com/css?family=Roboto:300,100);*/

h1{
	padding:0px;
	font-weight:100;
	font-size:1.33em;
	text-transform: uppercase;
	margin:3px;
}

#title{
  color: #ffffff;
  margin-top: 10px;
}

body {
  z-index:1000;
  background: #6C496F; /* fallback for old browsers */
  background: -webkit-linear-gradient(left, #3e2a40, #6C496F);
  background: -moz-linear-gradient(left, #3e2a40, #6C496F);
  background: -o-linear-gradient(left, #3e2a40, #6C496F);
  background: linear-gradient(to right, #3e2a40, #6C496F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

.login-page {
  z-index:1000;
  width: 360px;
  padding: 10% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #6C496F;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #3e2a40;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #6C496F;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

#particles-js{
  width: 99%;
  height: 99%;
  position:absolute;
  z-index: 1;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/*shit that fucks up the navbar*/

/*.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}*/
