<style>
	.con{
		text-align:center;
	}
	.btn{
		margin-top:8%;
	}

</style>
<div class = "con">
	<button class = "btn btn-info" id = "create_instance" onclick = "createInstance()">Create Instance</button>
	<form action="/code_upload" method="POST">
		<center>
			<input class="btn btn-info" type="file"/>
			<input class="btn btn-success" type="submit" value="Submit"></input>
		</center>
	</form>
</div>