<style>
	.con{
		text-align:center;
	}
	.btn{
		margin-top:8%;
	}

</style>
<div class = "con">
		<center>
			<input type = "text" placeholder="Enter User ID" required id = "us"></input>
			
			<button class="btn btn-success" onclick="createInstance()" >CREATE INSTANCE</button>
			<div style= "color:red;display:none" id = "err"></div>
			<input type = "text" placeholder="Git repo" required id = "repo"></input>
			<input type = "text" placeholder="Enter Path" required id = "path"></input>
			
			<button class="btn btn-success" onclick="deployInstance()" >DEPLOY Instance</button>

		</center>
</div>