<!DOCTYPE html>
<html>
<head>
	<title>Modratr | Login</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link href="css/common/bootstrap.min.css" rel="stylesheet">
	<link href="css/common/font-awesome.min.css" rel="stylesheet">
	<link href="css/common/prettyPhoto.css" rel="stylesheet">
	<link href="css/common/responsive.css" rel="stylesheet">
	<link href="css/common/animate.min.css" rel="stylesheet">
	<link href="css/common/nav.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/scrollnav/default.css" />
	<script src="js/scrollnav/modernizr.custom.js"></script>
	<link rel="stylesheet" type="text/css" href="css/login.css" />
</head>
<body>

	<div id="particles-js"></div>
	
	<!-- navbar starts here -->
	<nav class="navbar navbar-inverse navbar-fixed-top custom-header">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsemenu">
					<span class="sr-only">Toggle Navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<h2 id="title">88Coderz</h2>
			</div>
		</div>
	</nav>
	<!-- navbar ends here -->

	<br><br><br><br><br>

	<div class="login-page">
	  <div class="form">
		<form class="login-form" method = "POST" action = "/login">
		  <h1>Please <strong><span style = "color: #6C496F; font-weight:700;">Login</span></strong> to Continue</h1>
		  <input type="text" placeholder="Username" name = "user"/>
		  <input type="password" placeholder="Password" name = "pwd"/>
		  <button>login</button>
		</form>
	  </div>
	</div>


	<!-- div to mitigate fixed position of nav -->
	<div class="container">
		<br><br><br><br><br>
	</div>


	<script type = "text/javascript" src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="js/lib/particles.min.js"></script> 
	<script src="js/lib/app.js"></script> 
	<!-- <script type = "text/javascript" src = "js/login.js"></script> -->
	<script src="js/common/jquery-2.1.4.min.js"></script>
	<script src="js/common/bootstrap.min.js"></script>
	<script src="js/common/jquery.prettyPhoto.js"></script>
	<script src="js/common/jquery.isotope.min.js"></script>
	<script src="js/common/wow.min.js"></script>
</body>
</html>